// # Only the main Sass file needs front matter (the dashes are enough)

@import "minima";

.fixed-col-width-1 {
  min-width: 140px;
  max-width: 140px;
}

.fixed-col-width-2 {
  min-width: 160px;
  max-width: 160px;
}


detail {
  margin-top: 10px;
}

detail summary {
  font-size: $small-font-size;
}
